#Contact{
    background: var(--primary-white);
    /* background-image: url('./sr-bg-1-1.png');
    background-size: cover; */
}

.Contactboxs{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
}

.white_svg{
    background: red;
}

/* ******************************************************************************************** */
@media screen and (max-width: 1400px){

}
/* ******************************************************************************************** */
@media screen and (max-width: 1200px){
    .Contactboxs{
        flex-direction: column;
    }
}
/* ******************************************************************************************** */
@media screen and (max-width: 600px){

}