@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');
:root {
  --color-bg1-color: #2c3f6c;
  /* --color-bg1-color: #0e5af2; */
  --color-bg2-color: #f4f5f7;

  --primary-white: #fff;
  --primary-black: #000;
  --font-color1: #011a3e;
  --font-color2: #727983;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
  border: 0;
  color: --font-color1;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

body{
  font-family: 'Sora', sans-serif;
}

a{
  color: var(--primary-black);
}

section{
  color: var(--font-color1);
  padding: 50px 8%;
}

section .symbolContainer{
  display: flex;
  justify-content: center;
}

section .symbol{
  color: #727983;
  font-size: 1.5em;
}

section h1{
  display: flex;
  justify-content: center;
  margin: 10px 0 20px 0;
  font-weight: 800;
  font-size: 40px;
}

section .section_description{
  display: flex;
  width: 40%;
  margin: auto;
  margin-bottom: 45px;
  text-align: center;
  justify-content: center;
  color: var(--font-color2);
  font-size: 20px;
}

.reveal{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


/* ******************************************************************************************** */
/* ******************************************************************************************** */
@media screen and (max-width: 1224px){
  section .section_description{
    width: 90%;
  }
}
/* ******************************************************************************************** */
@media screen and (max-width: 600px){
  section{
    padding: 50px 0;
  }
}